.Sec7{
    background-color: #FEECE0;
    color: #649484;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    width: 100%;
    text-align: center;
    svg{
        font-size: 5rem;
    }
    h1{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
    p{
        font-weight: 900;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
        div{
            background-color: #649484;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            padding: 3rem;
            border-radius: 20px;
            color: #FEECE0;
            width: 30%;
            p{
                text-align: center;
                font-weight: 900;
                width: 90%;
                line-height: 1.5rem;
            }
            img{
                border-radius: 100%;
                -webkit-box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.5);
                -moz-box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.5);
                box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.5);
            }
        }
    }
}



@media only screen and (max-width: 1080px){
    .Sec7{
        
        .cards{
            flex-direction: column;
            width: 100%;
            div{
                width: 90%;
            }
        }
        
    }
}