* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  opacity: 0.5;
  cursor: pointer;
  transition: 500ms;
}

ul{
  list-style: none;
}


.wpLogo{
  position: fixed;
  z-index: 51;
  bottom: 2rem;
  right: 2rem;
}